*{margin: 0; padding: 0;}
main kbd{
    border: 1px solid red;  
    display: inline-block;
    width: 4em;
    height: 4em;
    vertical-align: top;
    position: relative;
}
kbd > button{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: none;
}
kbd:hover > button{
    display: inline-block;
}
main{
    text-align: center;
}
.main-wrapper{
    display: inline-block;
}
.main-wrapper > div:nth-child(2){
    margin-left: 2em;
}
.main-wrapper > div:nth-child(3){
    margin-left: 4em;
}
kbd > button{
    display: none;
}


